/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#kmcp-country-warning {
    display: none;
    color: red;
}

#kmcp-information-metabox-container input {
    width: 100% !important;
}